<!doctype html>
<html class="no-js no-touch" lang="{{ lang }}">
<head>
    <meta charset="utf-8" />
	<title>{{ pagetitle }} - {{ project }}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico">

	<meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

	<link rel="preload" as="script" href="/assets/js/jquery.min.js" />
	<link rel="preload" as="script" href="/assets/js/what-input.min.js" />
	<link rel="preload" as="script" href="/assets/js/site.js" />

	<link rel="stylesheet" href="/assets/styles/site.css" />
	{% block header %}{% endblock %}
</head>

<body class="antialiased">

	<main id="content">
		{% block content %}{% endblock %}
	</main>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/what-input.min.js"></script>
    <script src="/assets/js/foundation.js"></script>
	{% block endbody %}{% endblock %}
</body>
</html>
